
.body{
  background-color: blue;
}

.first-section{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../assets/hero-bg.png) ;
    width: 1920px;
    height: 800px;
    border: 2px solid rgb(255, 0, 0);
    background-color: blue;
    background-size: cover;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    /* filter: brightness(50%);
     */
     border-radius: 10px;
}

.first-div{
    color: rgb(255, 255, 255);
    /* text-align: center; */
     width: 1000px;
}
.title{
     font-size: 3rem;
     font-weight: bold;

     
}

.pharagraph{
  font-size: 1rem;
}
.button{
    background-color: red;
    padding: 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    color: white;
}

/* second part */

/* .section-two{
 
}


.img-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 424px;
  height: 522;
  padding-top: 40px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 1320px;
  height: 842px;
}

.title-food{
 
  text-align: center;

  padding-top: 60px;

}

 */


 .img-container {

  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 424px;
  padding-top: 40px;
  margin-bottom: 40px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin: 0 auto;  /* This centers the container within its parent */
  width: fit-content;  /* Adjust the width to fit the content inside */
}

.title-food {
  text-align: center;
  padding-top: 60px;
}






/* 
<section class="section=three"> */


.container-three{
 display: flex;
border: 2px solid blue;
margin: 50px;
width: 1800px;
height: 570px;
justify-content: center;
align-items: center;
text-align: center;
}
.img-three{
  /* width:960px ;
  height: 673px; */
  border: 2px solid rgb(166, 255, 0);
  width: 900px;
  height: 570px;
}
  
.img-three img{
  width: 100%;
  height: 100%;
}

.icon {
  border: 2px solid rgb(111, 0, 255);
  gap: 80px;
   font-size: 2rem;
   font-weight: 800;
  align-items: center;
}
.title-of-container{
 
}
.title-of-container-pharagraph{
        
}